*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	color:black;
	margin: auto;
	margin-top:75px;
	font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper{
	width: 85%;
	min-height:calc(100vh-81px);
	margin: 0 auto;
}

.panel,
.content{
	margin: 15px auto;
	background-color: #fafafa;
}
.panel{
	text-align:left;
	padding: 15px;
}
.content{
	width:50%;
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
}
.panel,
.content,
.error{
	border: 1px solid #DDDFD6;
}
.error{
	margin:auto;
	border: 2px solid tomato;
	background-color:tomato;

	padding:7px;
}
/* ---- Float clearfix ----  */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/* ===================================================== 
   Header
   ===================================================== */
nav.header{
	width:100%;
	height:50px;
	background-color: #fafafa;
	position:fixed;
	top:0;
	border-bottom: 1px solid #ECF0F1;
	z-index:3;
}
nav.header ul{
	display: inline-block;
	float:left;
	width:100%;
	z-index:3;
}
nav.header li{
	float:left;
	list-style:none;
	width:33%;
}
nav.header li a{
	text-decoration:none;
	color:black;
	padding:5px;
	vertical-align:middle;
}
nav.header li a img{
	height:25px;
	width :25px;
	margin-top: -5px;
}
nav.header li a img:hover, a:hover{
	opacity:0.9;
}
a:hover{ color:blue;}



/* ==================== logo ======================== */
.header .logo span{
	display:inline-block;
	position:absolute;
	top:15px;
}
.header .logo img{
	width:30px;
	height:30px;
	opacity:0.7;
	border-radius:5px;
	margin-right:5px;
}
.header .logo:hover,
.header .logo:hover a{ 
	opacity:0.7;
	color:black;
}



/* ==================== Form ======================== */
.header .form{
	text-align:center;
}
.header .form input[type="text"]{
	border: 1px solid #DDDFD6;
	padding:3px 7px;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.header .form input[type="submit"]{
	border: 1px solid #DDDFD6;
	padding:3px 17px;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.header .form input[type="submit"]:hover,
.header .form input[type="text"]:focus{
	background-color: #fafafa;
	border-color: grey;
}
.header .form input:hover{ cursor: pointer;}



/* ===================================================== 
   Content
   ===================================================== */
.error{
	padding:15px 0;
	margin:25px 0;
	text-align:center;
	background-color: yellow;
	opacity:0.5;
}
.separate{
	color: #DDDFD6;
	display:inline-block;
	margin: 0 10px;
}
.title{
	display: inline-block;
	width:100%;
	margin:0;
	background-color:tomato;
	padding:5px 30px;
	opacity:0.8;
	color:black;
}



/* ===================================================== 
   footer
   ===================================================== */

.footer {
    background: #fafafa;
    border-top: 3px solid #ECF0F1;
	margin-top:35px;
    padding: 30px 0;
    font-size: 12px;
    color: #a5a5a5;
}
.footer ul {margin: 0; padding: 0; float: left;}
.footer ul li {display: inline-block;}
.footer ul li:after {content:" | "}
.footer ul li:last-child:after {content:"";}
.footer p {margin: 0; padding-right: 3px;}
.footer a {color: #539def; margin: 0 10px;}
.footer li:first-child a {margin-left: 4px;}
.footer a:hover, .footer a:active {text-decoration: underline;}



/* ===================================================== 
  Loader
======================================================== */
.overlay{
	background-color:#333;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.75;
	transition: .5s ease;
	z-index:100;
	overflow:hidden;
}
.loader {
	border: 8px solid #fff;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin:  20% auto;
	margin-bottom:2%;
	
}
.overlay p{
	color:white;
	margin:  auto;
	text-align:center;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}



/* ===================================================== 
  Login & Register Page
======================================================== */
td, th {
    padding: 5px 5px;
}
.login form {
	width: 475px;
	margin: 34px auto;
}
.login form tr, tr {
	text-align:left;
	vertical-align:top; 
	padding:2px;
}
.login form table {
	width: 475px;
	margin-bottom: 16px;
}
.login form th {
    width: 150px;
    vertical-align: middle;
    padding: 8px;
}
.login form td { padding: 15px 15px;}
.login form td input{ overflow: hidden;}
.login form td select,
.login form td input,
.login form td textarea {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #a5a5a5;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}