@media screen and (max-width: 850px){
  #wrapper{
    width: 70%;
    border: none;
  }
  h1{
    font-size: 2.5em;
  }
  p, blockquote{
    font-size: .97em;
  }
  .social-icon {
    width: 45px;
    height: 45px;
    margin: 0 3px;
  }
}

@media screen and (max-width: 660px){
  #wrapper, blockquote{
    margin: 15% auto;
  }
  #wrapper{
    width: 95%;
    border: none;
  }
  p, blockquote{
    font-size: .9125em;
  }
  h1{
    font-size: 1.5em;
    letter-spacing: 0;
  }
  blockquote{
    width: 90%;
    padding: 15px 0 15px 15px ;
  }
  .social-icon {
    width: 30px;
    height: 30px;
  }
  .contact{
    padding-top: 5px;
  }
  h1, p{
    text-align: left;
  }
}
