body {
  font-family: "Josefin Sans",monospace,sans-serif;
  font-size: 0.9125em;
  line-height: 1.4;
  color: #222222;
  background-color: #e9e9e9;
}
#wrapper{
  margin: 7% auto;
  border-bottom: 2px #777 solid;
}
#wrapper{
  width: 50%;
  margin-bottom: 5%;
  padding-bottom: 50px;
  border-left:none;
  z-index:1;
}
h1, p, .contact{
  text-align: center;
  margin: 0;
  padding: 0;
}
h1, blockquote{
  font-weight: 200;
}
p, blockquote{
  font-size: 1.125em;
}
h1{
  font-size: 3em;
  letter-spacing: -1px;
}
p{
  font-weight: 300;
}
blockquote{
  margin: 7% auto;
  text-align: center;
  border-left: 1px #aaa solid;
  width: 70%;
  font-family: monospace, "Josefin Sans";
  padding: 30px 0 30px 15px ;
}
.contact{
  padding-top: 50px;
}
.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
a{
  text-decoration: none;
}
a:hover img{
  transform: scale(1.25);
}
