/*
Theme Name: Rs Card
Theme URI: http://rscardwp.px-lab.com
Author: Px-Lab
Author URI: http://px-lab.com
Description: RSCard – is a single page personal resume / cv / vcard WordPress Theme with clean, modern and organized looking design. The uniqueness of RSCard relies on the combination of a fresh & user-friendly interface for an optimized user experience. The template is created in minimalist / clean / material style and includes two color skins: light and dark. It has been conceived with a proper balance between UI & UX in order to offer an excellent user experience on a reviewing resume/ cv or vcard template. 
Version: 2.0.2
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-colors, custom-header, custom-menu, editor-style, featured-images, featured-image-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready, custom-background, custom-colors, featured-image-header, rtl-language-support, portfolio, blog
Text Domain: rs-card

*/
 
/**
 * 1.0 - Reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
    outline: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}


/**
 * 2.1 - Typography
 */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 25px 0;
    line-height: 1.1;
}

.h1, h1 {
    font-size: 36px;
}

.h2, h2 {
    font-size: 30px;
}

.h3, h3 {
    font-size: 24px;
}

.h4, h4 {
    font-size: 18px;
}

.h5, h5 {
    font-size: 16px;
}

.h6, h6 {
    font-size: 14px;
}

p {
    margin: 0 0 25px 0;
}

b,
strong {
    font-weight: 700;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    color: #737881;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin: 0 0 20px 0;
}

blockquote:before {
    content: '\e61c';
    position: static;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}

blockquote p {
    margin-bottom: 20px;
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote cite {
    padding-top: 20px;
    margin-top: 25px;
    position: relative;
    display: block;
}

blockquote cite:before {
    content: '';
    width: 64px;
    height: 1px;
    background-color: #bfbfbf;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -32px;
}

blockquote cite,
blockquote small {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

address {
    font-style: italic;
    margin: 0 0 1.6em;
}

tt,
kbd,
pre,
code,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
	white-space: pre-wrap;
    word-wrap: break-word;
}

var {
    font-style: italic;
}

abbr[title] {
    border-bottom: 1px dotted #eaeaea;
    border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
    cursor: help;
}

mark {
    color: #fff;
    padding: 1px 3px;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 80%;
}

big {
    font-size: 125%;
}

/**
 * Elements
 */
a img {
    border: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

hr {
    background-color: #bfbfbf;
    border: 0;
    height: 1px;
    margin-top: 0;
    margin-bottom: 25px;
}

ul,
ol {
    margin: 0 0 25px 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin-bottom: 25px;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid #e5e5e5; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 25px 0;
  width: 100%; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

th {
  border-width: 0 1px 1px 0;
  font-weight: 700; }

td {
  border-width: 0 1px 1px 0; }

th, td {
  padding: 5px 10px;
  vertical-align: top;
 }

table table,
.table-responsive table {
    margin-bottom: 0;
	max-width: 100%;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .table-responsive > table > tbody > tr > td,
    .table-responsive > table > tbody > tr > th,
    .table-responsive > table > tfoot > tr > td,
    .table-responsive > table > tfoot > tr > th,
    .table-responsive > table > thead > tr > td,
    .table-responsive > table > thead > tr > th {
        white-space: nowrap;
    }
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
}

del {
    opacity: 0.5;
}

/* Media */
audio,
canvas {
    display: inline-block;
}

embed,
iframe,
object,
video {
    margin-bottom: 25px;
    max-width: 100%;
    vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
    margin-bottom: 0;
}

/**
 * 2.3 - Helper Classes
 */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.clear-mrg > *:last-child {
    margin-bottom: 0;
}

.hidden {
    display: none !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.valign-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
    position: static;
}

.valign-middle {
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}

.valign-inner {
    position: relative;
    top: -50%;
}

/**
 * 4.0 - Grid
 */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1 {
    width: 8.33333%;
}

.col-xs-2 {
    width: 16.66667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333%;
}

.col-xs-5 {
    width: 41.66667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333%;
}

.col-xs-8 {
    width: 66.66667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333%;
}

.col-xs-11 {
    width: 91.66667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-pull-1 {
    right: 8.33333%;
}

.col-xs-pull-2 {
    right: 16.66667%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-4 {
    right: 33.33333%;
}

.col-xs-pull-5 {
    right: 41.66667%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-7 {
    right: 58.33333%;
}

.col-xs-pull-8 {
    right: 66.66667%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-10 {
    right: 83.33333%;
}

.col-xs-pull-11 {
    right: 91.66667%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-push-1 {
    left: 8.33333%;
}

.col-xs-push-2 {
    left: 16.66667%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-4 {
    left: 33.33333%;
}

.col-xs-push-5 {
    left: 41.66667%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-7 {
    left: 58.33333%;
}

.col-xs-push-8 {
    left: 66.66667%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-10 {
    left: 83.33333%;
}

.col-xs-push-11 {
    left: 91.66667%;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

.col-xs-offset-1 {
    margin-left: 8.33333%;
}

.col-xs-offset-2 {
    margin-left: 16.66667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.33333%;
}

.col-xs-offset-5 {
    margin-left: 41.66667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.33333%;
}

.col-xs-offset-8 {
    margin-left: 66.66667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.33333%;
}

.col-xs-offset-11 {
    margin-left: 91.66667%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-1 {
        width: 8.33333%;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-5 {
        width: 41.66667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333%;
    }

    .col-sm-8 {
        width: 66.66667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-11 {
        width: 91.66667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-pull-1 {
        right: 8.33333%;
    }

    .col-sm-pull-2 {
        right: 16.66667%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-4 {
        right: 33.33333%;
    }

    .col-sm-pull-5 {
        right: 41.66667%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-7 {
        right: 58.33333%;
    }

    .col-sm-pull-8 {
        right: 66.66667%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-10 {
        right: 83.33333%;
    }

    .col-sm-pull-11 {
        right: 91.66667%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-push-1 {
        left: 8.33333%;
    }

    .col-sm-push-2 {
        left: 16.66667%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-4 {
        left: 33.33333%;
    }

    .col-sm-push-5 {
        left: 41.66667%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-7 {
        left: 58.33333%;
    }

    .col-sm-push-8 {
        left: 66.66667%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-10 {
        left: 83.33333%;
    }

    .col-sm-push-11 {
        left: 91.66667%;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66667%;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 8.33333%;
    }

    .col-md-pull-2 {
        right: 16.66667%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-4 {
        right: 33.33333%;
    }

    .col-md-pull-5 {
        right: 41.66667%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-7 {
        right: 58.33333%;
    }

    .col-md-pull-8 {
        right: 66.66667%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-10 {
        right: 83.33333%;
    }

    .col-md-pull-11 {
        right: 91.66667%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 8.33333%;
    }

    .col-md-push-2 {
        left: 16.66667%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-4 {
        left: 33.33333%;
    }

    .col-md-push-5 {
        left: 41.66667%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-7 {
        left: 58.33333%;
    }

    .col-md-push-8 {
        left: 66.66667%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-10 {
        left: 83.33333%;
    }

    .col-md-push-11 {
        left: 91.66667%;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333%;
    }

    .col-md-offset-2 {
        margin-left: 16.66667%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333%;
    }

    .col-md-offset-5 {
        margin-left: 41.66667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333%;
    }

    .col-md-offset-8 {
        margin-left: 66.66667%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333%;
    }

    .col-md-offset-11 {
        margin-left: 91.66667%;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1025px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
        width: 8.33333%;
    }

    .col-lg-2 {
        width: 16.66667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33333%;
    }

    .col-lg-5 {
        width: 41.66667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33333%;
    }

    .col-lg-8 {
        width: 66.66667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33333%;
    }

    .col-lg-11 {
        width: 91.66667%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-pull-1 {
        right: 8.33333%;
    }

    .col-lg-pull-2 {
        right: 16.66667%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-4 {
        right: 33.33333%;
    }

    .col-lg-pull-5 {
        right: 41.66667%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-7 {
        right: 58.33333%;
    }

    .col-lg-pull-8 {
        right: 66.66667%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-10 {
        right: 83.33333%;
    }

    .col-lg-pull-11 {
        right: 91.66667%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-push-1 {
        left: 8.33333%;
    }

    .col-lg-push-2 {
        left: 16.66667%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-4 {
        left: 33.33333%;
    }

    .col-lg-push-5 {
        left: 41.66667%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-7 {
        left: 58.33333%;
    }

    .col-lg-push-8 {
        left: 66.66667%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-10 {
        left: 83.33333%;
    }

    .col-lg-push-11 {
        left: 91.66667%;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66667%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66667%;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }
}

/* 6.2 - Styled List */
.styled-list,
.styled-list ul {
    list-style: none;
    margin-left: 0;
}

.styled-list li {
    padding-left: 25px;
    position: relative;
}

.styled-list li:before {
    content: "\f00c";
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 15px;
}

/**
 * 6.2 - Ripple
 */
.ripple {
    overflow: hidden;
    position: relative;
    user-select: none;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ripple-effect {
    margin: 0;
    padding: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/**
 * 6.3 - Social
 */
.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social li {
    display: inline-block;
    margin: 5px 15px;
}

.social li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.social li a, .social li a .rsicon {
    line-height: 45;
}

.social li a .rsicon {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    display: block;
}

@media (max-width: 2025px) {
    .social li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .social li a {
        width: 35px;
        height: 35px;
    }

    .social li a, .social li a .rsicon {
        line-height: 35px;
    }

    .social li a .rsicon {
        font-size: 17px;
    }
}

/**
 * Icons List
 */
.rs-icons-list {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
}

.rs-icons-list li {
    float: left;
    width: 16.6666%;
    float: left;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.rs-icon {
    font-size: 42px;
    display: block;
    margin-bottom: 5px;
}

.rs-icon-class {
    font-size: 11px;
    display: block;
}

@media (max-width: 992px) {
    .rs-icons-list li {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .rs-icons-list li {
        width: 33.33%;
    }
}

@media (max-width: 480px) {
    .rs-icons-list li {
        width: 50%;
    }
}


/**
 * 7.0 - Containers
 */
body {
    color: #3d4451;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #efefef;
}

.wrapper {
    opacity: 1;
    visibility: visible;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity 400ms ease-out;
    -moz-transition: opacity 400ms ease-out;
    transition: opacity 400ms ease-out;
}

.mobile.lock-scroll, .mobile.lock-scroll body, .mobile.lock-scroll .wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.content {
    z-index: 2;
    position: relative;
}

.container {
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.section {
    padding-top: 70px;
}

.section-box {
    padding: 40px 50px;
}

.section-title {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.grid-box,
.post-box,
.price-box,
.pf-slider,
.pf-grid .pf-item,
.pf-related .pf-item,  
.section-box,
.timeline-box-inner,
.sidebar-default .profile-photo img {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media (max-width: 992px) {
    .section-box {
        padding: 50px 40px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-top: 50px;
    }

    .section-box {
        padding: 30px 20px;
    }

    .section-title {
        font-size: 30px;
    }
}

/**
 * 8.0 - Preload/Overlay
 */
#overlay {
    position: fixed;
    z-index: 99;
    top: -1000%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    -webkit-transition: top 0s ease 0.35s, opacity 0.35s ease;
    -moz-transition: top 0s ease 0.35s, opacity 0.35s ease;
    transition: top 0s ease 0.35s, opacity 0.35s ease;
}

.loading #preloader {
    display: block;
}

.loading .wrapper {
    opacity: 0;
    visibility: hidden;
}

#preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

#preloader .preload-text {
    display: none;
}

#preloader .preload-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

#preloader .preload-icon span {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #000000;
    -webkit-animation: preloader 1.6s linear infinite;
    -moz-animation: preloader 1.6s linear infinite;
    animation: preloader 1.6s linear infinite;
}

#preloader .preload-icon span:last-child {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

@-moz-keyframes preloader {
    0% {
        -moz-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/**
 * 11.2 - Section About
 */
.section-about {
    padding-top: 40px;
    position: relative;
}

.section-about .section-text-btn {
	padding-left: 5%;
	padding-right: 5%;
}

.section-about .section-box {
    padding: 0;
}

.section-about .profile {
    padding: 57px 50px 15px 50px;
}

.section-about .profile-photo {
    margin-right: 10%;
    margin-bottom: 10px;
}

.section-about .profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.section-about .profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-about .profile-title span {
    font-weight: 300;
}

.section-about .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-photo img {
    width: 100%;
    display: block;
}

.profile-items {
    margin-bottom: 18px;
}

.profile-preword {
    float: left;
    margin-bottom: 10px;
}

.profile-preword span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
}

.profile-preword span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
}

.profile-share {
    float: right;
    line-height: 1;
    margin-bottom: 10px;
}

#profileShareBtn  {
	border: 0;
	margin: 0;
	padding: 0;	
	background: transparent;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

#profileShareBtn:hover {
    opacity: 0.7;
}

#profileShareWrap {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}

#profileShareWrap.opened {
	visibility: visible;
	opacity: 1;
}

.profile-share .rsicon {
    color: #b6b4b5;
    font-size: 29px;
    line-height: 29px;
    vertical-align: top;
}

.profile-share-wrap {	
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: rgba(0,0,0,0.85);
	overflow-y: auto;
}

.profile-share-table {
	display: table;
	height: 100%;
	width: 100%;	
}

.profile-share-cell {
	display: table-cell;	
	text-align: center;
	vertical-align: middle;
	padding: 50px 20px;	
}

#profileShareClose {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	position: absolute;
	right: -60px;
	top: 0;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;	
	color: #fff;
	font-size: 18px;
}

#profileShareClose .rsicon {
	line-height: 38px;
}

#profileShareWrap {
	color: #3d4451;
}

.profile-share-inner {
	background: #fff;
	padding: 80px 20px;
	max-width: 500px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.profile-share-title {
	font-weight: 700;
	margin-bottom: 40px;
}

.profile-share-list {	
	margin: 0;
	padding: 0;
	list-style: none;
}

.profile-share-list li {
	display: inline-block;
	margin: 10px;
}

.profile-share-list a {
	display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #ffffff !important;
    background-color: #1f1f1f;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	
	-webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}

.profile-share-list a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.profile-share-list .rsicon-facebook {
	background-color: #2d5f9a;
}

.profile-share-list .rsicon-pinterest {
	background-color: #be1e2d;
}

.profile-share-list .rsicon-twitter {
	background-color: #00c3f3;
}

.profile-share-list .rsicon-youtube {
	background-color: #bb0000;
}

.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list li {
    margin-bottom: 13px;
}

.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}

.profile-list .cont a {
    color: inherit;
}

.profile-list .cont.profile-vacation {
    font-size: 14px;
}

.profile-list .button {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.profile-list .rsicon {
    margin-right: 10px;
    vertical-align: baseline;
}

.profile-social {
	margin-top:35px;
    padding: 15px 0;
}

@media (max-width: 992px) {
    .section-about .profile {
        padding: 50px 40px 15px 40px;
    }

    .section-about .profile-photo {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
	#profileShareClose {
		top: -60px;
		right: 0;
	}
    .section-about {
        padding-top: 0;
    }

    .section-about .profile {
        padding: 30px 20px 15px 20px;
    }

    .profile-list .title, .profile-list .cont {
        width: 100%;
        float: none;
        line-height: 1.2;
    }

    .profile-list .title {
        margin-bottom: 3px;
    }

    .profile-list .cont {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .section-about .row > div {
        width: 100%;
    }

    .section-about .profile-title {
        font-size: 28px;
    }
}
